*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
/*design for header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 20px 75px;
    background-color: transparent ;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    max-width: 80px; 
    height: auto;
}

.navbar a {
    position: relative;
    font-size: 20px;
    color: #313638;
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
    font-family: 'Hind Vadodara', sans-serif;
}

.navbar a:not(.feed)::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #313638;
}

.navbar a:not(.feed):hover::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #313638;
    transition: .3s;
}

.navbar .feed {
    border: 1px solid #313638;
    background-color: #313638;
    color: #F8F7F4;
    padding: 5px;
    border-radius: 50px 20px;
    font-size: 18px;
    border-width: 8px;
}

/*design for animal profile*/
.profile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center the items horizontally */
    padding: 20px;
    }

.profile-card {
    margin: 10px;
    padding: 15px;
    border: 1px solid #E493B3;
    border-radius: 10px;
    background-color: #FFF5E3;
    /* flex-basis: calc(33.333% - 40px);  */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none; /* Ensure no underline on links */
    box-sizing: border-box; /* Include padding and border in element's total width */
    }

@media (min-width: 768px) {
    .profile-card {
        flex-basis: calc(33.333% - 40px); /* Three cards per row on medium screens and above */
    }
    }

.profile-card h2 {
    font-family: 'Lora';
    font-weight: 700;
    font-size: 30px;
    color: #313638;
    }

.profile-card h3 {
    font-family: 'Hindi Vadodara';
    font-weight: 700;
    font-size: 20px;
    color: #ccc;
    }

.profile-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

.profile-card img {
    display: block;
    width: 100%;
    /* height: 300px; */
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    }

.profile-card h2 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #333;
    }

.profile-card h3 {
    margin: 0 0 10px;
    font-size: 16px;
    color: #666;
    }

h2 {
    font-size: 45px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Quicksand';
    font-weight: 700;
    color: #313638;
    }

/*design for individual animal profile*/
.animalDetails {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8E7AB5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  
  .animalDetails h2 {
    font-size: 24px;
    color: #F8F7F4;
    margin-bottom: 20px;
    font-family: 'Quicksand';
  }
  
  .animalInfo {
    padding-top: 50px;
    font-family: 'Lora';
  }
  
  .animalProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F8F7F4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .animalProfile img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #B784B7;
  }
  
  .animalProfile h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .animalProfile p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .animalImage {
    position: relative;
  }
  
  .image-container {
    position: relative;
    width: 100%;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .heart-btn {
    position: absolute;
    top: 103%;
    left: 12%;
    transform: translate(-50%, -50%);
  }
  
  .content {
    padding: 13px 16px;
    display: flex;
    border: 2px solid #eae2e1;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .content.heart-active {
    border-color: #f9b9c4;
    background: #fbd0d8;
  }
  
  .heart {
    position: absolute;
    background: url("img.png") no-repeat;
    background-position: left;
    background-size: 2900%;
    height: 90px;
    width: 90px;
    top: 50%;
    left: 21%;
    transform: translate(-50%, -50%);
  }
  
  .text {
    font-size: 21px;
    margin-left: 30px;
    color: grey;
    font-family: 'Hind Vadadora';
  }
  
  .numb:before {
    content: '';
    font-size: 21px;
    margin-left: 7px;
    font-weight: 600;
    color: #9C9496;
    font-family: sans-serif;
  }
  
  .numb.heart-active:before {
    content: '';
    color: #000;
  }
  
  .text.heart-active {
    color: #000;
  }
  
  .heart.heart-active {
    animation: animate .8s steps(28) 1;
    background-position: right;
  }
  
  @keyframes animate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
  }

  /*design for home page*/
  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: rgb(227,211,255);
    background: linear-gradient(90deg, rgba(227,211,255,1) 0%, rgba(248,247,244,1) 100%); 
}

.heroTxt {
    text-align: center;
}

.heroTxt h1 {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 5rem;
    color: #313638;
}

.heroTxt h2{
    font-family: 'Lora';
    font-weight: 500;
    font-size: 2rem;
    color: #313638;
    margin-top: 20px;
}

.button-18 {
    align-items: center;
    text-decoration: none;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 35px;
    background-color: #8E7AB5;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #f6f6e9;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 20px;
    min-height: 50px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
.button-18:hover,
.button-18:focus { 
    background-color: purple;
    color: #F8F7F4;
}
  
.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}
  
.button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.story {
    position: relative;
    text-align: center;
    height: 100vh;
    background: #E493B3;
}

.story h1 {
    padding-top: 50px;
    color: #F8F7F4;
    font-size: 5rem;
    font-family: 'Quicksand';
    font-weight: 700;
}

.story h3 {
    color: #F8F7F4;
    font-size: 25px;
    font-family: 'Lato';
    font-weight: 500;
    line-height: 45px;
    padding-top: 35px;
}


.pawbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: ('../user/assets/paw.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.storyCatdog {
    padding: 0 4%;
    padding-top: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 370px;
    height: 350px;
    background: #F8F7F4;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
}

.icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: rgb(183,132,183);
    background: linear-gradient(90deg, rgba(183,132,183,1) 0%, rgba(142,122,181,1) 100%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8F7F4;
    background-position: 0px;
    background-size: 200px;
    transition: all 0,8s ease;
}

.material-icons .md-48 {
    font-size: 48px;
}

.card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: #313638;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Lora';
}

.card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0;
    color: #313638;
    max-height: 0;
    transition: all 0.3s ease;
    font-family: 'Hind Vadodara';
    font-weight: 400;
}

.card:hover {
    height: 400px;
}

.card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}

.card:hover .icon {
    background-position: -120px;
    transition: all 1s ease;
}

.card:hover .icon i{
    background: linear-gradient(90deg, #E493B3, #B784B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 0.6s;
}

.profilesPeek:not(.meetProfile) {
    position: relative;
    height: 100%;
    background: rgb(227,211,255);
    background: linear-gradient(90deg, rgba(227,211,255,1) 0%, rgba(248,247,244,1) 100%);
    text-align: center;
}

.abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url('../user/assets/ab.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    pointer-events: none;
}

.meetProfile h2 {
    padding-top: 100px;
    color: #313638;
    font-size: 1rem;
    font-family: 'Quicksand';
    font-weight: 700;
    top: 250px;
}
.meetProfile h1 {
    color: #313638;
    font-size: 3rem;
    font-family: 'Quicksand';
    font-weight: 700;
    top: 250px;
}

.container {
    padding-top: 50px;
}

.container img {
    width: 450px;
    height: 300px;
    margin: 20px;
    border: 10px solid #8E7AB5;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.24);
    transition-duration: 1s;
}

.container img:hover {
    border: 5px solid #B784B7;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.button-19 {
    align-items: center;
    text-decoration: none;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 45px;
    background-color: #8E7AB5;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #f6f6e9;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 20px;
    min-height: 50px;
    width: 180px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
.button-19:hover,
.button-19:focus { 
    background-color: purple;
    color: #F8F7F4;
}
  
.button-19:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}
  
.button-19:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

  }
.partnerOrgs {
    width: 100%;
    height: 25vh;
    background-image: url(../user/assets/paws.png);
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.partnerOrgs img {
    width: auto;
    height: 200px;
    margin: 80px;
}

.wall {
    position: relative;
    text-align: center;
    height: 65vh;
    background: rgb(227,211,255);
    background: linear-gradient(90deg, rgba(227,211,255,1) 0%, rgba(248,247,244,1) 100%);
}

.wallTxt h2 {
    padding-top: 100px;
    color: #313638;
    font-size: 1rem;
    font-family: 'Quicksand';
    font-weight: 700;
    top: 250px;
}
.wallTxt h1 {
    color: #313638;
    font-size: 3rem;
    font-family: 'Quicksand';
    font-weight: 700;
    top: 250px;
}

.catpeek {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

.catpeek img {
    position: absolute;
    bottom: 0;
    left: 51%;
    transform: translateX(-50%);
    height: 270px;
}

.button-20 {
    align-items: center;
    text-decoration: none;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 35px;
    background-color: #8E7AB5;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #f6f6e9;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 20px;
    min-height: 50px;
    width: 100px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
.button-20:hover,
.button-20:focus { 
    background-color: purple;
    color: #F8F7F4;
}
  
.button-20:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}
  
.button-20:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}